@import url("reset.css");

.cabecalho, .rodape {
    background-color: var(--background-color-2);
    text-align: center;
}

/* ROOT */

:root {
    --font-title: "Press Start 2P", system-ui;
    --font-text: "IBM Plex Mono", monospace;
    --font-size-text: 0.8rem;
    --font-color: #000;
    --font-color-2: #fff;
    --hover-color: #29CDB5;
    --button-color: #008698;
    --background-color: #E0FFFB;
    --background-color-2: #F39C9C;
}

/*CABEÇALHO*/

.cabecalho {
    padding: 1.5%;
}

/* CORPO */

    body {
        background-color: var(--background-color);
    }

/* PRODUTOS */

.mainProdutos {
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    margin: 50px;
}

.produtos {
    width: 65%;
    display: flex;
    flex-direction: column;
    /*overflow-y: scroll;*/
    gap: 30px;
    align-items: center;
}

.tituloMeusProdutos, .tituloErro {
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-title);
}

.tituloErro {
    color: red;
}

.containerProdutos {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.cardProduto {
    flex: 1 1 calc(30%-30);
    background-color: var(--background-color-2);
    border: 3px dashed black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 5px 5px 0 grey;
    font-family: var(--font-text);
    font-size: var(--font-size-text);
}

.botaoLixo {
    float: right;
    cursor: pointer;
}

/* FORMULARIO */

.containerAdicionarProduto {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 30px;
    margin: 30px;
}

.formularioAdicionarProduto {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.adicionarProduto {
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-title);
}

.campoFormulario {
    border: 2px dashed var(--button-color);
    border-radius: 20px;
    padding: 10px 50px 10px 10px;
    width: 100%;
    font-family: var(--font-text);
    font-size: var(--font-size-text);
}

.alerta {
    color: red;
    font-size: var(--font-size-text);
}

.campoFormulario:hover {
    border: 2px solid var(--hover-color);
}

.campoFormulario:focus {
    border: 2px solid var(--background-color-2);
}

.campoFormulario, .botao {
    margin-bottom: 15px;
}

.containerBotao {
    display: flex;
    gap: 5px;
}

.botao {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: var(--button-color);
    opacity: 50%;
    transition: opacity 0.5s;
    width: 50%;
    box-shadow: 0 5px 5px 0 gray;
    font-family: var(--font-text);
    font-size: var(--font-size-text);
}

.botao:hover {
    opacity: 100%;
}

.botao:active {
    box-shadow: 0 2px 2px 0 black;
    transform: translateY(4px);
}

/* RODAPE */

.rodape {
    padding: 2%;
    font-family: var(--font-text);
}

.paragrafoRodape {
    padding: 5px;
}

@media (max-width: 870px) {

    *{
        max-width: 100vw;
        box-sizing: border-box;
    }

    /* CABEÇALHO */

    .cabecalho {
        width: 100%;
    }

    /* PRODUTOS */

    .mainProdutos {
        flex-direction: column-reverse;
    }

    .produtos, .containerProdutos {
        flex-wrap: wrap;
        width: 100%;
    }

    .linhaProdutos {
        flex-wrap: wrap;
    }

    /* FORMULARIO */

    .containerAdicionarProduto, .formularioAdicionarProduto {
        width: 100%;
    }

    /* RODAPE */

    .rodape {
        width: 100%;
    }

}
